.canvas {
    overflow: hidden;
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    filter: blur(2px); /*Difumina*/
}

.frame {
    width: 500px;
    border: 50px solid black;
    padding: 50px;
    margin: 20px auto;
}

.one {
    margin: 20px auto;
    width: 425px;
    height: 150px;
    background-color: #efb762;
    box-shadow: 0 0 3px 3px #efb762; /* desplazamiento en X=0 en Y=0 blur radius=3px spread radius=3px shadow color #efb762, este ejemplo creará un resplandor de sombra*/
    border-radius: 9px;
    transform: rotate(-0.6deg); /*Rota en sentido contrario de las manecillas del reloj -0.6grados*/
}

.two {
    margin: 0 auto 20px;
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    box-shadow: 0 0 3px 3px #8f0401;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotate(0.4deg);
}

.three {
    margin: auto;
    width: 91%;
    height: 28%;
    background-color: #b20403;
    box-shadow: 0 0 5px 5px #b20403;
    border-radius: 30px 25px 60px 12px; /*Forma simplificada de declarar border-radius en .two*/
    transform: rotate(-0.2deg);
}

.one, 
.two {
    filter: blur(1px);
}

.three {
    filter: blur(2px);
}